/*estilo geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
    height: 100vh;
}
.interface{
    max-width: 1200px;
    margin: 0 auto;

}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 400;
    background-color: rgb(133, 255, 96);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 2s;
}
.btn-contato button:hover{
    box-shadow: 0px 0px 8px #000000;
    transform: scale(1.10);
}
/* Estilo do cabeçalho */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

header a{
    color: rgb(150, 150, 150);
    text-decoration: none;
    display: inline-block;
    transition: .4s;
}
header a:hover{
    color: #000000;
    transform: scale(1.10);
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}




/* Estilo-topo-site */

section.Topo-do-site{
    padding: 40px 4%;
}

section.Topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 350px;
}

.Topo-do-site h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
    line-height: 60px;

}

.Topo-do-site h1 span{
    color: rgb(0, 0, 0);
}

.Topo-do-site .txt-topo-site p{
    color: #000;
    margin: 40px 0px;
}  
/* Mexer no paragrafo */
.Topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuante 2s ease-in-out infinite alternate;
}
@keyframes flutuante {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    } 
}